/* body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
} */
*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }


#DisplayAnimeCountdown {
    max-width: 95vw;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* opacity: 0.85; */
}

.episodeChapterText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 20px;
    color: #2e2e2e;
    text-align: center;
}


#TimeUntilAiring {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0;
    color: #000000;
    text-align: center;
}

  /* Mobile M */
@media (min-width: 375px) {
  #TimeUntilAiring {
    font-size: 2.5em;
  }

  .episodeChapterText {
    font-size: 1.5em;
  }

}


  /* Mobile L */
  @media (min-width: 425px) {
    #TimeUntilAiring {
      font-size: 3em;
    }

    .episodeChapterText {
      font-size: 1.7em;
    }

  }
  
  /* Tablet */
  @media (min-width: 768px) {
    #TimeUntilAiring {
      font-size: 5em;
    }

    .episodeChapterText {
      font-size: 3em;
    }
  }
  
  /* Laptop */
  @media (min-width: 1024px) {
    #TimeUntilAiring {
      font-size: 7.5em;
    }

    .episodeChapterText {
      font-size: 3em;
    }
  }
  
  /* Laptop L */
  @media (min-width: 1440px) {
    #TimeUntilAiring {
      font-size: 10em;
    }

    .episodeChapterText {
      font-size: 4em;
    }
  }

   /* Laptop L */
   @media (min-width: 2560px) {
    #TimeUntilAiring {
      font-size: 15em;
    }

    .episodeChapterText {
      font-size: 6em;
    }
  }
  
  